.links {
    text-decoration: none;
    color: aliceblue;
  }
  
  nav{
      height: 4em;
  }
  .BtnNav {
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    color: aliceblue;
    background-color: #0d11e7;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100px;
    height: 3em;
  }
  
  .Btn:hover {
    scale: 1.05;
  }